.dropdown {
    position: relative;

    .dropdown-title-box {
        max-width: 100%;
        background-color: #FF6060;
        padding: 5px 0;
        margin: 50px auto 0 auto;
        color: white;
        font-size: 24px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-title{
        padding-left: 20px;
        font-weight: 700;
    }

    img {
        height: 20px;
        margin-right: 20px;
        transition: transform 0.4s ease;
        transform-origin: center;
    }
    
    .rotated {
        transform: rotate(-180deg);
      }

      .dropdown-content {
        padding: 20px;
        background-color: rgb(249, 249, 249);
        border-radius: 10px;
        font-size: 18px;

        p{
          margin: 0;
        }
      }

}