@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.main-container {
    width: 100%;
    max-width: 1440px;

}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}