.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;

    ul {
        display: flex;
        list-style-type: none;
        gap: 50px;
    }

    li {
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }

    }
    .active{
        text-decoration: underline;
    }
    
}

@media (max-width: 600px) {
    .header {
      
        img {
            width: 120px;
        }

        ul{
            gap: 20px;
            padding: 0;
        }

        li{
            font-size: 20px;
        }
    }
  }
