.about {

    .dropdowns-container{
        max-width: 80%;
        margin: auto;
    }

    .dropdown-item{
        max-width: 80%;
        width: 80%;
    }
}

@media (max-width: 600px) {
    .about {
      
        .dropdowns-container {
            max-width: 100%;
        }
        
    }
  }